/*Primary colour and variants.*/
/*Secondary colour and variants.*/
/*Grey colours and variants.*/
/*Design breakpoints for media queries.*/
body {
  font-family: Arial;
  font-size: 26px;
}
body {
  background-color: #ff6400;
}
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login-box {
  min-height: 30%;
  max-height: 80%;
  width: 30rem;
  margin: auto;
  padding: 10% 10%;
  background-color: #1e1e1e;
  border-radius: 10px;
}
#login-box label {
  margin: 5px 0px 5px 0px;
  color: white;
}
#login-box input {
  display: block;
  width: 100%;
  margin: 0px 0px 25px 0px;
  font-size: 1rem;
}
#login-box input[type='submit'] {
  width: auto;
  float: right;
}
#login-box button {
  font-size: 1rem;
}
#login-box input[type='submit'],
button {
  padding: 0.75rem;
  border: 0px;
  color: #ffffff;
  background: #ff6400;
  box-shadow: none;
  border-radius: 2px;
}
#login-box .error {
  padding: 0.75rem;
  background-color: #ff0f0f;
  color: #ffffff;
  display: none;
}
@media only screen and (max-screen-width: 991px) {
  #login-box input[type='submit'],
  button {
    width: 100%;
    margin: 0px 0px 2.5rem 0px;
  }
}
.mp-toolbar {
  width: 100%;
  min-height: 1rem;
  background-color: #1e1e1e;
}
.mp-context-panel {
  width: 25%;
  background-color: #1e1e1e;
}
.mp-workspace {
  width: 25%;
  background-color: #1e1e1e;
}
body {
  background-color: #ff6400;
  color: #ff6400;
}
